.add-model{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: brown;
    display: none;
}

.form{
    width: 50%;
    margin: 50x auto;
    padding: 30px;
    background-color: aliceblue;
}

.notes{
    padding: 10px;
}

.note{
    border:1px grey;
    padding: 10px;
}